body {
    color: #54b5e5;
    background-color: #000000;
    font-family: Consolas, monospace;
    font-size: 14px;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

h2 {
    text-align: center;
    margin-bottom: 2em;
}

button {
    font-size: 22px;
}

.row {
    margin-top: 30px;
    width: 900px;
    display: block;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.terminal {
    display: block;
    font-size: 20px;
    font-family: Consolas, monospace;
    background-color: #0f2689;
    color: #ffffff;
    white-space: pre;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

#screen {
    padding: 1px 2px;
    border: #797575 solid 2px;
    height: 552px;
    position: relative;
    overflow: hidden;
    background-color: #0f2689;
}

#output-log {
}

#input-line {
    position: sticky;
    bottom: 0;
}
#input-line:focus {
    outline: none;
}

#mem-dump {
    padding: 1px 2px;
    border: #797575 solid 2px;
    font-size: 20px;
    font-family: Consolas, monospace;
    background-color: #0f2689;
    color: #ffffff;
}

